fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
python-jose
passlib[bcrypt]
pydantic
pydantic-settings
python-multipart
pandas
scikit-learn
joblib
statsmodels
prophet
sentence-transformers
numpy
alembic
PyPDF2