fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
python-jose
passlib==1.7.4
bcrypt==4.0.1
pydantic
pydantic-settings
pydantic[email]
python-multipart
pandas
scikit-learn
joblib
statsmodels
prophet
sentence-transformers
numpy
alembic
PyPDF2

transformers
torch
accelerate
sentencepiece
google-genai
celery
redis[hiredis]